<html>

<head>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/angular.js"></script>
    <script>
        var app = angular.module('wikiSearch', []);
        app.config(function($sceDelegateProvider) {
            $sceDelegateProvider.resourceUrlWhitelist(['**']);
        });
        app.controller('mainCtrl', function($scope, $http) {
            $scope.value = 'indonesia';

            $scope.search = function() {
                $scope.url = 'http://en.wikipedia.org/w/api.php?action=query&format=json&prop=pageimages|extracts|info&pilimit=max&inprop=url&generator=search&gsrsearch=' + $scope.value + '&gsrnamespace=0&gsrlimit=10&exsentences&exintro&explaintext=1&exlimit=max';


                $http.jsonp($scope.url).then(function(response) {
                    $scope.pages = response.data.query.pages;
                });
            };
        });
    </script>

</head>

<body ng-app="wikiSearch" ng-controller="mainCtrl">
    <div class="container text-center">
        <h1 class="text-center">Wikipedia search</h1>
        <input type="text" ng-model="value">
        <button class="btn btn-primary" ng-click="search()"><span class="glyphicon glyphicon-search" aria-hidden="true" id="icon"></span></button>
        <div ng-repeat="page in pages" class="panel panel-default text-left">
            <h3>{{ page.title }}</h3>
            <p>{{ page.extract }}</p>
        </div>
    </div>
</body>

</html>